/**
 * IdeaBoard RTL (Right-To-Left) CSS
 *
 * @package IdeaBoard
 * @subpackage Theme
 */

/* =IdeaBoard Style
-------------------------------------------------------------- */

#ideaboard-forums .ideaboard-forums-list {
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin: 0 5px 0 0;
    padding-left: 0;
    border-left: 0;
}
#ideaboard-forums ul.ideaboard-threaded-replies {
    margin-right: 50px;
    margin-left: 0;
}
li.ideaboard-forum-info,
li.ideaboard-topic-title {
    float: right;
    text-align: right;
}
li.ideaboard-forum-topic-count,
li.ideaboard-topic-voice-count,
li.ideaboard-forum-reply-count,
li.ideaboard-topic-reply-count {
    float: right;
}
li.ideaboard-forum-freshness,
li.ideaboard-topic-freshness {
    float: right;
}
#ideaboard-forums div.ideaboard-topic-author a.ideaboard-author-name,
#ideaboard-forums div.ideaboard-reply-author a.ideaboard-author-name {
    clear: right;
}
li.ideaboard-header div.ideaboard-topic-content span#subscription-toggle,
li.ideaboard-header div.ideaboard-topic-content span#favorite-toggle,
li.ideaboard-header div.ideaboard-reply-content span#subscription-toggle,
li.ideaboard-header div.ideaboard-reply-content span#favorite-toggle {
    float: left;
}
#ideaboard-forums div.ideaboard-forum-author,
#ideaboard-forums div.ideaboard-topic-author,
#ideaboard-forums div.ideaboard-reply-author {
    float: right;
}
#ideaboard-forums li.ideaboard-header .ideaboard-search-author,
#ideaboard-forums li.ideaboard-footer .ideaboard-search-author,
#ideaboard-forums li.ideaboard-header .ideaboard-forum-author,
#ideaboard-forums li.ideaboard-footer .ideaboard-forum-author,
#ideaboard-forums li.ideaboard-header .ideaboard-topic-author,
#ideaboard-forums li.ideaboard-footer .ideaboard-topic-author,
#ideaboard-forums li.ideaboard-header .ideaboard-reply-author,
#ideaboard-forums li.ideaboard-footer .ideaboard-reply-author {
    float: right;
}
#ideaboard-forums li.ideaboard-header .ideaboard-search-content,
#ideaboard-forums li.ideaboard-footer .ideaboard-search-content,
#ideaboard-forums li.ideaboard-header .ideaboard-forum-content,
#ideaboard-forums li.ideaboard-footer .ideaboard-forum-content,
#ideaboard-forums li.ideaboard-header .ideaboard-topic-content,
#ideaboard-forums li.ideaboard-footer .ideaboard-topic-content,
#ideaboard-forums li.ideaboard-header .ideaboard-reply-content,
#ideaboard-forums li.ideaboard-footer .ideaboard-reply-content {
    margin-right: 140px;
    text-align: right;
    margin-left: 0;
}

/* =Topic and reply content
-------------------------------------------------------------- */

#ideaboard-forums div.ideaboard-forum-content,
#ideaboard-forums div.ideaboard-topic-content,
#ideaboard-forums div.ideaboard-reply-content {
    padding: 12px 0 12px 12px;
    margin-right: 130px;
    text-align: right;
    margin-left: 0;
}

/* =Reply to
-------------------------------------------------------------- */

#ideaboard-forums div.ideaboard-reply-to {
    padding: 12px 0px 12px 12px;
    margin-right: 130px;
    text-align: left;
    margin-left: 0;
}
#ideaboard-forums div#ideaboard-cancel-reply-to {
    text-align: left;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.ideaboard-breadcrumb {
    float: right;
}

/* =Search
-------------------------------------------------------------- */

#ideaboard-forums #ideaboard-search-form {
    clear: right;
}
#ideaboard-forums div.ideaboard-search-form {
    float: left;
}

/* =Admin Links
-------------------------------------------------------------- */

span.ideaboard-admin-links {
    float: left;
}
fieldset span.ideaboard-admin-links {
    float: right;
}
.ideaboard-forum-header a.ideaboard-forum-permalink,
.ideaboard-topic-header a.ideaboard-topic-permalink,
.ideaboard-reply-header a.ideaboard-reply-permalink {
    margin-right: 10px;
    margin-left: 0;
    float: left;
}

/* =Pagination
-------------------------------------------------------------- */

.ideaboard-pagination-count {
    float: right;
}
.ideaboard-pagination-links {
    float: left;
}
.ideaboard-pagination-links a,
.ideaboard-pagination-links span.current {
    margin-right: 5px;
    margin-left: 0;
    float: right;
}
.ideaboard-pagination-links span.dots {
    margin-right: 5px;
    margin-left: 0;
    float: right;
}
.ideaboard-pagination {
    float: right;
}
.ideaboard-topic-pagination {
    margin-right: 5px;
    margin-left: 0;
}

/* =Forms
-------------------------------------------------------------- */

#ideaboard-forums fieldset.ideaboard-form {
    clear: right;
}
#ideaboard-forums fieldset.ideaboard-forum-form-attributes {
    margin-right: 25px;
    margin-left: 25px;
    float: left;
}
.ideaboard-topic-form,
.ideaboard-reply-form,
.ideaboard-topic-tag-form {
    clear: right;
}
body.topic-edit .ideaboard-topic-form div.avatar img,
body.reply-edit .ideaboard-reply-form div.avatar img,
body.single-forum .ideaboard-topic-form div.avatar img,
body.single-reply .ideaboard-reply-form div.avatar img {
    margin-left: 0;
}
#ideaboard-forums div.ideaboard-topic-tags {
    float: left;
}
div.ideaboard-submit-wrapper {
    float: left;
}


/* =TinyMCE in themes
-------------------------------------------------------------- */

#ideaboard-forums div.ideaboard-the-content-wrapper input {
    margin: 0 0 0 2px;
}

/* =Edit User
-------------------------------------------------------------- */

#ideaboard-forums #ideaboard-your-profile fieldset div {
    float: right;
    clear: right;
}
#ideaboard-forums #ideaboard-your-profile fieldset label[for] {
    padding: 5px 5px 5px 20px;
    text-align: left;
    float: right;
}
#ideaboard-forums #ideaboard-your-profile fieldset dl label[for] {
    text-align: right;
}
#ideaboard-forums #ideaboard-your-profile fieldset span.description {
    float: right;
    clear: right;
}
#ideaboard-forums #ideaboard-your-profile fieldset fieldset.password span.description {
    margin-right: 0;
}
#ideaboard-forums #ideaboard-your-profile fieldset.submit button {
    float: left;
}

/* =Widgets
-------------------------------------------------------------- */

.ideaboard-login-form .ideaboard-submit-wrapper {
    text-align: left;
}
.ideaboard-login-form .ideaboard-login-links a {
    float: right;
    clear: right;
}
.ideaboard-logged-in img.avatar {
    margin: 0 0 0 15px;
    float: right;
}

/* =Avatars
-------------------------------------------------------------- */

fieldset div.avatar {
    float: left;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.ideaboard_topic_create .activity-content .activity-inner,
.activity-list li.ideaboard_reply_create .activity-content .activity-inner {
    border-right: 2px solid #eaeaea;
    padding-right: 10px;
    margin-right: 5px;
    padding-right:0;
    border-right:0;
    margin-right:0;
}


/* =User Pages
-------------------------------------------------------------- */

#ideaboard-forums #ideaboard-user-wrapper {
    float: right;
}
#ideaboard-forums #ideaboard-single-user-details {
    float: right;
}
#ideaboard-forums #ideaboard-single-user-details #ideaboard-user-description {
    margin-right: 180px;
    margin-left: 0;
}
#ideaboard-forums #ideaboard-user-body {
    margin-right: 180px;
    margin-left: 0;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
    #ideaboard-forums div.ideaboard-topic-tags {
        clear: left;
        float: left;
    }
    span.ideaboard-reply-post-date {
        float: left;
    }
    span.ideaboard-admin-links {
        clear: left;
        float: left;
    }
    #ideaboard-forums .ideaboard-body div.ideaboard-reply-author {
        padding-left: 80px;
        padding-right: 0;
        text-align: left;
    }
    #ideaboard-forums div.ideaboard-reply-author a.ideaboard-author-name {
        margin-left: 0;
    }
    #ideaboard-forums div.ideaboard-reply-author img.avatar {
        left: auto;
        left: 0;
    }
    div.ideaboard-submit-wrapper {
        float: left;
    }
    #ideaboard-forums #ideaboard-user-body {
        margin-left: 0;
    }
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
    #ideaboard-forums li.ideaboard-header div.ideaboard-reply-author {
        text-align: left;
    }
    #ideaboard-forums li.ideaboard-header div.ideaboard-reply-content {
        margin-left: 25%;
        margin-right: 0;
    }
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
    #ideaboard-forums li.ideaboard-body li.ideaboard-topic-freshness,
    #ideaboard-forums li.ideaboard-header div.ideaboard-reply-content {
        margin-left: 0;
        text-align: left;
    }
    #ideaboard-forums li.ideaboard-footer div.ideaboard-reply-content {
        margin-left: 0;
    }
    #ideaboard-forums li.ideaboard-body div.ideaboard-reply-author {
        padding-left: 60px;
        padding-right: 0;
    }
}